body {
    font-family: Impact, sans-serif;
    font-size: 15em; 
    text-align: center;
    margin-top: 10%;
    background-color:#000000;
    color: #f3f3f3;
  }
  #clock {
    font-size: 10em;
    font-weight: bold;
    color: #ff0000;
  }
  